<h1>Welcome Dr <%=doctor?.name || '' %></h1>

<form method="GET">
  <section>
    <select id="status" name="status">
      <option value="" selected></option>
      <% for (let i = 0; i < status.length; i++) { %>
        <option value="<%=status[i] %>"><%=status[i] %></option>
      <% } %>
    </select>
  </section>
  <section>
    <p><button type="submit">Submit</button></p>
  </section>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Status</th>
      <th>Patient ID</th>
      <th>Doctor ID</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < appointments.length; i++) { %>
      <tr>
        <td><a href="/doctors/appointments/<%= appointments[i].id %>"><%= appointments[i].id %></a></td>
        <td><%= appointments[i].appointment_datetime %></td>
        <td><%= appointments[i].status %></td>
        <td><%= appointments[i].patient_id %></td>
        <td><%= appointments[i].doctor_id %></td>
        <td><%= appointments[i].reason %></td>
      </tr>
    <% } %>
  </tbody>
</table>