<h1>Patient <%= patient_id %></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>NHS Number</th>
      <th>Email Address</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < patients.length; i++) { %>
      <tr>
        <td><a href="/doctors/patients/<%= patients[i].id %>"><%= patients[i].id %></a></td>
        <td><%= patients[i].first_name %></td>
        <td><%= patients[i].last_name %></td>
        <td><%= patients[i].nhs_number %></td>
        <td><%= patients[i].email %></td>
        <td><%= patients[i].username %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- include('./partials/appointmentsTable') %>